.banner{
    background:no-repeat center url("../img/photo-1588159343745-445ae0b16383\ \(2\).png");
    background-size: cover;
    height: 870px;
    .content{
        color: white;
    }
}

@media(min-width:768px){
    .banner{
        background:no-repeat center url("../img/photo-1588159343745-445ae0b16383.png");
    }
}



.btn-shop{
    border-radius: 17px;
    width: 350px;//?
}


.card a{
    color: $color-light;
    font-weight: bold;
}

.special{
    background-color: $dark-0;
}

.search{
    h5{
        font-weight: bold; 
        color: $dark-1; 
    }
    input{
        border: 1px solid $color-primary;
    }
    input, .submit{
        border-radius: 0.5px;
    }
    .submit{
        color: white;
        background-color: $color-primary;
        padding: 5px;
    }

} 

.overlap-dark{
    opacity: 0.7;
    top: 0%;
    left: 0%;
}

.overlap-word{
    color: white;
    font-size: 2rem;
    top: 220px;
    left: 110px;
}






